body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; /* Set minimum height to fill the viewport */
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Allow main content to grow and fill available space */
}

.title {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.login-section {
    background-color: #f4f4f4;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-section {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 20rem;
}

.register-section p {
    margin-bottom: 0.5rem;
}

button {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem; /* Adjust padding for larger button size */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add transform transition */
}

button:hover {
    background-color: #555;
    transform: scale(1.1); /* Add a slight scale effect on hover */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}