/* Nav bar */
   .navbar {
      background-color:  #007bff; 
	  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .navbar-dark .navbar-toggler-icon {
      background-color: #fff; 
    }

    .navbar-nav .nav-link {
      color: #fff; 
    }

    .navbar-nav .nav-link:hover {
      color: #f5f5f5; 
    }

	.container {
		margin-left: 0px;
	}
/* Quiz page/card */
.quiz-title{
	text-align: center;
	margin-top: 30px
}

.card-container {
	display: flex;
	justify-content: center;

}

.modal {
	position:static;
	border-radius: 30;
	top: 700px;
	right: 100px;
	bottom: 0;
	left: 0;
	z-index: 10040;
	overflow: auto;
	overflow-y: auto;
	width: 37rem;
 }


.card {
	width: 42rem;
	padding: 1.3rem;
	border-radius: 1rem;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 15px;
}

.card-header-custom {
	display: flex;
	justify-content: space-between;
}

.card-footer-custom {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;

}

.line {
	margin-top: 0px;
}

.question-box {
	border-color: rgba(0, 0, 0, 0.25);
	;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 20px;
	border-radius: 5px;
}


label {
	margin-left: 10px;
}

.btn-primary {
	padding-left: 50px !important;
	padding-right: 50px !important;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.timer {
	font-size: 24px;
	font-weight: bold;
	color: #333;
	background-color: #f5f5f5;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	display: inline-block;
}

.total-questions {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 8px;
	margin-right: 10px;
}

.card-title {
	font-weight: bold;
	margin-top: 10px;
}

.question {
	font-size: 18px;
	margin-bottom: 20px;
}

.check-icon {
	margin-left: 10px;
	margin-top: 10px;
	width: 40px;
	height: 40px;
}

.streak-icon {

	margin-left: 5px;
	width: 32px;
	height: 32px;
	margin-bottom: 20px;
}

.result-box {
	display: flex;

}

#resultMessage {
	font-size: 40px;
	font-weight: bold;
}

.streak-text {
	font-size: 25px;
	font-weight: bold;

}

#questionNumber{
	color: black;
    font-size: 30px;
}

#questionText{
	font-size: 18px;
}

#option1Text {
	font-size: 14px;
}
#option2Text {
	font-size: 14px;
}
#option3Text {
	font-size: 14px;
}
#option4Text {
	font-size: 14px;
}

#currentQuestion {
	font-size: 18px;
    font-weight: bold;
}

#currentStreak {
	font-size: 25px;
    font-weight: bold;
}


