/* Set the text color to white for specific elements */
h2, p, a, th, td {
    color: white;
}

body {
    background-color: rgba(0, 0, 0, 0.8);
    font-family: Helvetica, sans-serif;
    background-image: url("../img/homebackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.result-title {
    text-align: center;
    color: #FFFFFF; /* White text color */
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#myButton {
    position: fixed;
    bottom: 20px;
    right: 130px;
    padding: 15px 30px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#myButton:hover {
    background-color: #2980b9;
}

/* Remove the background color for table header */
.result-table th {
    background-color: transparent;
}

/* Remove the background color for even and odd rows in the table */
.result-table tbody tr:nth-child(even),
.result-table tbody tr:nth-child(odd) {
    background-color: transparent; /* Clear background */
}

/* Set the text color for table header and data cells */
.result-table th, .result-table td {
    color: white;
}

/* Add styles to separate table rows with lines */
.result-table th, .result-table td {
    border: 1px solid #fff; /* Separate rows with white lines */
    padding: 8px;
    text-align: center;
}
