body, h1, p, a {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.8); /* Light gray background */
    font-family: Helvetica, sans-serif;
    color: #333; /* Dark gray text color */
    background-image: url("../img/homebackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    color: #FFFFFF; /* White text color */
    padding: 20px;
}

h2 {
    text-align: left;
    color: #FFFFFF; /* White text color */
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* White background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#myButton {
    /* Existing styles */
    position: fixed;
    bottom: 20px;
    right: 130px;
    /* Additional styles */
    padding: 15px 30px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#myButton:hover {
    background-color: #2980b9;
}

p {
    background: transparent;
    margin: 0;
    padding: 0;
}

.result-table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

.result-table th, .result-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.result-table th {
    background-color: #f2f2f2;
}

.result-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Add styles to center and style the "Difficulty," "Date," and "Time" text */
.result-info {
    text-align: center;
    margin-bottom: 20px;
}

.result-info-text {
    font-size: 20px; /* Reduced font size */
    color: white;
}

/* Add styles to make the table more compact */
.result-table {
    border-collapse: collapse;
}

.result-table th, .result-table td {
    padding: 8px;
    text-align: center;
}

/* Add styles to separate table rows with lines */
.result-table th {
    background-color: white;
    color: #333;
}

.result-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.result-table tbody tr:nth-child(odd) {
    background-color: #fff;
}

.result-table th, .result-table td {
    color: #333;
}
