body {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px; /* Adjust the width as needed */
    text-align: right;
    margin-right: 10px;
}

#education {
    width: 100%; /* Adjust the width as needed */
    height: 43px;
}

content{

    width: 100%;
	text-align:center;
    height: 73vh;
    padding: 20px;
    box-sizing: border-box;
	margin-top: 5vh;
}


.container {
    width: 25%;
	border:solid 1px #ccc;
	text-align:center;
    height: 64vh;
    padding: 20px;
    box-sizing: border-box;
	margin:0 auto;
	border-radius:15px;
    margin-top: 5vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.container .title {
    text-align: center;
    font-size: 28px;
    color: #234F94;
    font-weight: 800;
    margin-top: 2vh;
}


.from-container {
	margin:0 auto; 
    margin-top: 2vh;

}

.password-label,.username-label {
    font-size: 14px;
    color: #000;
    font-weight: 600;
	text-align: left;
    margin-bottom: 0px
}
.password-label i,.username-label i {
    font-style: normal;
    font-size: 18px;
}
.username-input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom:  solid 1px #000;
	border-radius:2px;
    padding: 10px;
    box-sizing: border-box;
}
.password-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}


.loginbtn { 
    height: 45px;
    width: 200px;
    background-color: #007bff;;
    color: #fff;
    text-align: center;
    line-height: 45px;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #4A7CA6;
    margin-top: 1vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
 
}

i {
    color: #234F94;
    font-weight: 800;

}

