<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/homepage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Home2</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
           <div class="navbar-brand">
              <span class="mr-auto">Online Testing System</span>
           </div>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                 <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                 </li>
              </ul>
           </div>
        </div>
     </nav>

    <h1>Surveys</h1>

    <section>
        <div class="button-container">
            
            <button class="surveyButton">Survey 1</button>
            
            <button class="surveyButton">Survey 2</button>
          
            <button class="surveyButton">Survey 3</button>  
        </div>

        <div class="profileImage">
            <img src="../public/img/profilepicture.jpg">
            <p><strong>Personal Information</strong></p>
        </div>

        

        
    </section>
    <a href="quizpage" class="quiz-start-link">
    <button type="button" class="btn btn-primary next-button">Start quiz</button>
     </a>
<!-- 
    <footer>
        <p>Footer</p>
    </footer> -->
</body>
</html>