<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Home2</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>
    </header>

    <h1>Surveys</h1>

    <section>
        <div class="button-container">
            
            <button class="surveyButton">Survey 1</button>
            
            <button class="surveyButton">Survey 2</button>
          
            <button class="surveyButton">Survey 3</button>  
        </div>

        <div class="profileImage">
            <img src="./img/profilepicture.jpg">
            <p><strong>Personal Information</strong></p>
        </div>
    </section>

    <footer>
        <p>Footer</p>
    </footer>
</body>
</html>