<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Home Page</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../public/img/logo.png" alt="Logo">
        </div>
    </header>

    <h1 class="title">Privacy Preserving Adaptive Testing System</h1>
    
    <section class="main-content">
        <div class="login-section">
            <a href="login" class="register-link">
            <button id="loginButton" type="button">Log In</button>
            </a>
        </div>     
        
    </section>
    
    <div class="register-section">
            <p>Not a member?</p>
            <a href="signup" class="register-link">
            <button id="registerButton" type="button">Register Now</button>
            </a>
        </div>
    
    
    <footer>
        <p>&copy; 2023 Software Design Studio. Xin Chen.</p>
    </footer>
    
    <script src="../public/js/Homepage.js"></script>
</body>

</html>