<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE,edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/login.css">
</head>

<body>
  <div class="content">
      <div class="container" style="max-width: 400px;";>
          <h1 class="title">Login</h1>
          <div class="form-container">
              <p class="password-label"><i class="email-text">Email</i></p>
              <input class="password-input" type="text" name="" placeholder="Type your email" id="email-input">
              <p class="password-label"><i>Password</i></p>
              <input class="password-input" type="password" name="" placeholder="Type your password" id="password-input">
          </div>
          <p class="loginbtn" id="loginbtn">Login</p>
          <span>Not a member?</span>
          <a href="/signup" style="color:#0c86d4; margin-left: 4px;">Sign up now</a>
      </div>
  </div>
</body>
<script src="../public/js/login.js"></script>
</html>
