<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Question Card</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="../public/css/quizpage.css">
      <link rel="stylesheet" href="../public/css/kelvin.css">
   </head>
   <body>

            <div class="headerMenu">
                <div class="container2">
                    <div class="container2-box" style="flex-basis: 50%;">
                        <div id="wrapper">
                            <br>
                            <div class="logo">
                                <a href="homepage.html">
                                <img src="../public/img/OTSlogo.png"/>
                                <br>
                                </a>
                            </div>
                            <br>
                        </div>
                    </div>
                   
                    <div class="container2-box" style="flex-basis: 50%;">
                        <div style="text-align: right; padding-right: 10px;">
                        </div>  
                    </div>
                </div>
            </div>
            <div class="navbar1">
                <a href="homepage.html">Home</a>
            </div>
          
      <h1 class="quiz-title" style="font-size: 28; color: white">Math Quiz</h1>

      <div class="card-container">
         <div class="card">
            <div class="card-body">
               <div class="card-header-custom">
                  <h3 class="card-title">Question <span id="questionNumber">1</span></h3>
                  <p class="timer" id="timer">20:00</p>
               </div>
               <hr class="line">
               <p class="question"><b id="questionText">Loading question...</b></p>
               <div class="questions">
                  <div class="question-box">
                     <label>
                     <input type="radio" name="q" value="option1"> <span id="option1Text">Option 1</span>
                     </label>
                  </div>
                  <div class="question-box">
                     <label>
                     <input type="radio" name="q" value="option2"> <span id="option2Text">Option 2</span>
                     </label>
                  </div>
                  <div class="question-box">
                     <label>
                     <input type="radio" name="q" value="option3"> <span id="option3Text">Option 3</span>
                     </label>
                  </div>
                  <div class="question-box">
                     <label>
                     <input type="radio" name="q" value="option4"> <span id="option4Text">Option 4</span>
                     </label>
                  </div>
               </div>
               <div class="card-footer-custom">
                  <p class="total-questions">Q<span id="currentQuestion">1</span>/24</p>
                  <button type="button" class="btn btn-primary next-button">Submit</button>
               </div>
            </div>
         </div>
      </div>

      <div class="card-container">
   <div class="modal fade bottom-modal" style="width: 37rem; border-radius: 10%;" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-body">
               <div class="result-box">
                  <p id="resultMessage"></p>
                  <img src="img/cross.png" alt="Checkmark" class="check-icon" id="resultIcon">
               </div>
               <div class="result-box">
                  <p class="streak-text">Current Streak: <span id="currentStreak">0</span></p>
                  <img src="../public/img/streak.png" alt="Streak" class="streak-icon">
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-primary next-button">Next Question</button>
            </div>
         </div>
      </div>
   </div>
</div>
      <script src="../public/js/quizpage.js"></script>
   </body>
</html