<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/resultsCSS.css">

    <title>Results Page</title>
</head>
<body>
    <header>
        <h1 class="title">Results Page</h1>
    </header>
    <main>
        <section class="results">
            <div class="result-info">
                <p class="result-info-text" id="difficulty"><strong>Difficulty:</strong></p>
                <p class="result-info-text" id="date"><strong>Date:</strong></p>
                <p class="result-info-text" id="time"><strong>Time:</strong></p>
            </div>
            <table class="result-table">
                <tbody>
                </tbody>
            </table>
        </section>
    </main>
    <script src="../public/js/result.js"></script>
    <a href="feedbackpage" class="feedbackpage-link">
        <button id="myButton" type="button">Continue</button>
    </a>
</body>
</html>
