<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/css/signup.css">
    <link rel="stylesheet" href="../public/css/kelvin.css">
    <title>Sign Up</title>
</head>

<body>

    <div class="headerMenu">
            <div class="container2-box" style="flex-basis: 50%;">
                <div id="wrapper">
                    <br>
                    <div class="logo"> 
                        <img src="../public/img/OTSlogo.png"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container2-box" style="flex-basis: 50%;">
                <div style="text-align: right; padding-right: 10px;">
                </div>  
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container" style="background-color: rgba(255, 255, 255, 0.808);text-align: left; margin: 13px; width: 400px; margin-left:auto; margin-right:auto; border-radius: 8px;">
    <h1 class="title">Sign up</h1>
    <form id="signupForm">
        <div>
            <p class="password-label"><i>Name</i></p>
            <input class="password-input" type="text" id="firstname" name="firstname">
        </div>

        <div>
            <p class="password-label"><i>Surname</i></p>
            <input class="password-input" type="text" id="surname" name="surname">
        </div>

        <div>
            <p class="password-label"><i>Email</i></p>
            <input class="password-input" type="email" id="email" name="email">
            <p class="error" id="email-error"></p> 
        </div>

        <div>
            <p class="password-label"><i>Password</i></p>
            <input class="password-input" type="password" id="password" name="password">
        </div>

        <div>
            <p class="password-label"><i>Education Level</i></p>
            <select id="education" name="education">
                <option value="Year 10">Year 10</option>
                <option value="Year 11">Year 11</option>
                <option value="Year 12">Year 12</option>
            </select>
        </div>
        <div style="text-align: center">
        <button id="submitButton" class="loginbtn" type="button">Submit</button>
        <p class="error" id="general-error"></p>
        </div>
        <div style="text-align: center;">
        <span>Already a member?</span>
    <a href="/" style="color:#0c86d4; margin-left: 4px;">Login</a>
    </div>
        </form>
    </div>
</body>
    <script defer src="../public/js/signup.js"></script>
</html>
