<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/resultsCSS.css">

    <title>View All Results</title>
</head>
<body>
    <header>
        <h1 class="result-title">View All Results</h1>
    </header>
    <main>
        <section class="results">
            <div class="results-container">
                <!-- Results will be dynamically added here -->
            </div>
        </section>
    </main>
    <script src="../public/js/viewAllResult.js"></script>
</body>
</html>
