<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/resultsCSS.css">
    <link rel="stylesheet" type="text/css" href= "../public/css/kelvin.css" />

    <title>View All Results</title>
</head>
<body>
    <div class="headerMenu">
        <div class="container2">
            <div class="container2-box" style="flex-basis: 50%;">
                <div id="wrapper">
                    <br>
                    <div class="logo">
                        <a href="/homepage">
                        <img src="../public/img/OTSlogo.png"/>
                        <br>
                        </a>
                    </div>
                    <br>
                </div>
            </div>
           
            <div class="container2-box" style="flex-basis: 50%;">
                <div style="text-align: right; padding-right: 10px;">
                </div>  
            </div>
        </div>
    </div>
    <div class="navbar1">
        <a href="/homepage" class="left-link">Home</a>
        <a href="/viewAllResultpage"class="left-link">View All Results</a>
        <a href="/logout" class="logout-button">Logout</a>
    </div>
    <header>
        <h1 class="result-title">View All Results</h1>
    </header>
    <main>
        <section class="results">
            <div class="results-container">
            </div>
        </section>
    </main>
    <script src="../public/js/viewAllResult.js"></script>
</body>
</html>
